<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Covid 19 statistics</h1>
    <section>
      
        <h2>TotalConfirmed : <%= data.TotalConfirmed %> </h2>
        <h2>TotalDeaths : <%= data.TotalDeaths %> </h2>
        <h2>TotalRecovered : <%= data.TotalRecovered %> </h2>
        <form action="/all" method="GET">
        <input type="submit" value="Go to all countries statistics">
        </form>
    </section>
    <section>
        <form action="/country" method="POST">
        <input type="text" name="country" placeholder="enter country name">
        <label for="date">choose date to start</label>
        <input type="date" name="date" >
        <input type="submit" value="Search">
        </form>
    </section>
</body>
</html>